:root {
  /*Color*/
  --color-orange: #e55039;
  --color-dopain: #60a3bc;
  --color-beige: #fad390;
  --color-white: #f5f6fa;
  --color-black: #353b48;
  --color-grey: #dcdde1;
  --shadow-color: rgba(0, 0, 0, 0.2);
  /*Size*/
  --main-font-size: 33px;
  --font-size: 24px;
  --btn-font-size: 18px;
  --border-size: 4px;
  --thum-size: 50px;
  --info-size: 80px;
  --space-size: 30px;
  --space-size-small: 10px;
  --border-radius: 7px;
  /*font*/
  --font-singleday: 'Single Day', cursive;
  --font-indieflower: 'Indie Flower', cursive;
}

html {
  margin: 0;
  box-sizing: border-box;
  min-height: 100vh;
}

body {
  margin: 0;
  padding-top: 100px;
}

.wrapper {
  background-color: var(--color-dopain);
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 400px;
}

.wrapper .title {
  font-family: var(--font-indieflower);
  font-size: var(--main-font-size);
  text-align: center;
  display: block;
  margin-top: 20px;
}

.wrapper .name input {
  display: none;
}

.wrapper .name .showing {
  width: 300px;
  display: block;
  margin: 30px auto;
  padding: 10px;
  border: 0;
  border-radius: var(--border-radius);
  font-size: var(--btn-font-size);
  text-align: left;
  box-shadow: 5px 5px 5px var(--shadow-color);
  font-family: var(--font-singleday);
}

.wrapper span {
  display: none;
}

.wrapper .show {
  display: block;
  background-color: rgba(255, 255, 255, 0.3);
  font-family: var(--font-singleday);
  font-size: var(--font-size);
  text-align: center;
  margin-bottom: var(--space-size);
  animation: fadeIn 0.5s linear;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.wrapper .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper .info .date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: var(--space-size);
  background-color: var(--color-beige);
  border-radius: var(--border-radius);
  box-shadow: 5px 5px 5px var(--shadow-color);
  padding: var(--space-size-small);
  width: var(--info-size);
  height: var(--info-size);
}

.date h3 {
  color: var(--color-orange);
  margin: 0;
  text-align: center;
  font-size: var(--font-size);
  font-family: var(--font-indieflower);
}

.date h2 {
  color: var(--color-black);
  margin: 0;
  text-align: center;
  font-size: var(--main-font-size);
  font-family: var(--font-indieflower);
}

.wrapper .info .weather {
  width: var(--info-size);
  height: var(--info-size);
  padding: var(--space-size-small);
  background-color: var(--color-beige);
  border-radius: var(--border-radius);
  box-shadow: 5px 5px 5px var(--shadow-color);
}

.wrapper .info .weather .weatherData {
  margin: 0;
  padding-top: 10px;
  color: var(--color-black);
  text-align: center;
  font-size: 21px;
  font-family: var(--font-indieflower);
}

.wrapper .info .clock {
  width: var(--info-size);
  height: var(--info-size);
  padding: var(--space-size-small);
  margin-right: var(--space-size);
  background-color: var(--color-beige);
  border-radius: var(--border-radius);
  box-shadow: 5px 5px 5px var(--shadow-color);
}

.wrapper .info .clock h1 {
  font-size: var(--main-font-size);
  color: var(--color-orange);
  font-family: var(--font-indieflower);
  text-align: center;
  margin: 15px 0 0 0;
}

.container {
  background-color: var(--color-beige);
  border-radius: var(--border-radius);
  display: block;
  margin: 20px auto;
  width: 350px;
  box-shadow: 5px 5px 5px var(--shadow-color);
}

.todolist {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.todolist p {
  padding-top: 10px;
  margin-top: 30px;
}

.todolist li {
  display: flex;
  padding: 10px 0 10px 0;
}

.todolist li .todo {
  width: 260px;
  height: 30px;
  margin-left: var(--space-size-small);
  padding: var(--space-size-small);
  background-color: var(--color-white);
  font-size: var(--font-size);
  font-family: var(--font-singleday);
  border-radius: var(--border-radius);
  box-shadow: 5px 5px 5px var(--shadow-color);
}

.todolist li #check {
  border: 0;
  padding: 0;
  margin-left: 10px;
  background-color: rgba(0, 0, 0, 0);
}

.todolist li #check i {
  font-size: var(--font-size);
  color: var(--color-orange);
}

.todolist li #delete {
  position: relative;
  left: -40px;
  border: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
}

.todolist li #delete i {
  font-size: var(--font-size);
  color: var(--color-orange);
}

.input_todo {
  display: flex;
  justify-content: center;
  position: relative;
  padding-bottom: 20px;
}

.input_todo #input {
  width: 250px;
  padding: var(--space-size-small);
  font-size: var(--btn-font-size);
  font-family: var(--font-singleday);
  border: 0px;
  border-radius: var(--border-radius);
  box-shadow: 5px 5px 5px var(--shadow-color);
}

.input_todo #btn {
  box-shadow: 5px 5px 5px var(--shadow-color);
  border: 0;
  font-size: var(--btn-font-size);
  font-family: var(--font-singleday);
  border-radius: var(--border-radius);
  background-color: var(--color-orange);
  margin-left: var(--space-size-small);
  color: var(--color-white);
}
